
/* tab pane styling */
.panes div {
    display:none;
    padding:5px 5px;
    border:1px solid #999;
    border-top:0;
    height:auto;
    width:auto;
    font-size:14px;
    background-color:#fff;
}
