# HOL stuff
*Script
*Theory.sig
*Theory.sml
*Theory.dat
*.uo
*.ui
*.o
.HOLMK
.hollogs

# TacticToe
*Script_ttt.sml

# Generated assembly
*.S

# Developer generated executables
developers/readme_gen
tutorial/solutions/make_ex

# regression test logs
regression.log
timing.log

# HOLHEAP
*heap

# Translator stuff
*_ml.txt
*_hol.txt
*_thm.txt
*_ast.txt
*.ml.txt
*translate_timing.txt

# Emacs backup files
*~

# Vim swap files
*.swp

# Reference manual
documentation/*.pdf
documentation/*.aux
documentation/*.fdb_latexmk
documentation/*.fls
documentation/*.log
documentation/*.out
documentation/*.pyg
documentation/*.toc
documentation/_minted-reference
documentation/lem-generated

# Compiler Explorer
*.exe
*.cgi

# Benchmarks
compiler/benchmarks/ocaml/*.cmi
compiler/benchmarks/ocaml/*.cmo
compiler/benchmarks/ocaml/*.cmx
compiler/benchmarks/ocaml/ocamlc_*
compiler/benchmarks/ocaml/ocamlopt_*
compiler/benchmarks/cakeml/basis_ffi.c
compiler/benchmarks/cakeml/cakemlc
compiler/benchmarks/cakeml/cake_O4_*
compiler/benchmarks/sml/mlton_*
compiler/benchmarks/sml/polyc_*
compiler/benchmarks/sml/sml_*
compiler/benchmarks/*.dat
compiler/benchmarks/*.eps
