# HOL stuff
*Script
*Theory.sig
*Theory.sml
*Theory.dat
*.uo
*.ui
*.o
.hol

# TacticToe
*Script_ttt.sml

# Generated assembly
*.S
*.wasm

# Generated tarball
cake-arm-64.tar.gz
cake-x64-64.tar.gz
config_enc_str.txt

# Developer generated executables
developers/readme_gen
developers/lint_build_dirs
developers/bin
semantics/addancs
tutorial/solutions/make_ex
examples/vipr/compilation/cake_vipr

# regression test logs
regression.log
timing.log

# HOLHEAP
*heap

# Translator stuff
*_ml.txt
*_hol.txt
*_thm.txt
*_ast.txt
*.ml.txt
*translate_timing.txt

# Emacs backup files
*~

# Vim swap files
*.swp

# Reference manual
documentation/*.pdf
documentation/*.aux
documentation/*.fdb_latexmk
documentation/*.fls
documentation/*.log
documentation/*.out
documentation/*.pyg
documentation/*.toc
documentation/_minted-reference
documentation/lem-generated

# Compiler Explorer
*.exe
*.cgi

# Benchmarks
compiler/benchmarks/cakeml_benchmarks/ocaml/*.cmi
compiler/benchmarks/cakeml_benchmarks/ocaml/*.cmo
compiler/benchmarks/cakeml_benchmarks/ocaml/*.cmx
compiler/benchmarks/cakeml_benchmarks/ocaml/ocamlc_*
compiler/benchmarks/cakeml_benchmarks/ocaml/ocamlopt_*
compiler/benchmarks/cakeml/basis_ffi.c
compiler/benchmarks/cakeml/cakemlc
compiler/benchmarks/cakeml/cake_O4_*
compiler/benchmarks/cakeml_benchmarks/sml/mlton_*
compiler/benchmarks/cakeml_benchmarks/sml/polyc_*
compiler/benchmarks/cakeml_benchmarks/sml/mosml_*
compiler/benchmarks/cakeml_benchmarks/sml/sml_*
compiler/benchmarks/mlton_benchmarks/sml/mlton_*
compiler/benchmarks/mlton_benchmarks/sml/mosml_*
compiler/benchmarks/*.dat
compiler/benchmarks/*.eps
compiler/benchmarks/*.html

#sexp files generated by Icing
icing/examples/output/*/*.sexp.cml
icing/examples/*_data_prog.txt
.DS_Store
