# HOL stuff
*Script
*Theory.sig
*Theory.sml
*.uo
*.ui
*.o
.HOLMK
.hollogs

# Generated assembly
*.S

# README.md generator's executable
developers/readme_gen

# regression test logs
regression.log
timing.log

# HOLHEAP
*heap

# Translator stuff
*txt

# Emacs backup files
*~

# Reference manual
documentation/*.pdf
documentation/*.aux
documentation/*.fdb_latexmk
documentation/*.fls
documentation/*.log
documentation/*.out
documentation/*.pyg
documentation/*.toc
documentation/_minted-reference
documentation/lem-generated

# Compiler Explorer
*.exe
*.cgi

# Benchmarks
compiler/eval/benchmarks/exec/*
!compiler/eval/benchmarks/exec/runall.sh
